@{
    ViewData["Title"] = "Access Denied";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Account/accountaccessdenied.css" />
}

<div class="flex-container">
    <h1 class="flex-container__header">Access Denied</h1>
    <p class="flex-container_message">Please contact Admin</p>
</div>