.flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex-container__header {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    color: darkslategray;
}

.flex-container_message {
    color: palevioletred;
    font-size: 1.2rem;
    font-weight: bold;
}