@{
    ViewData["Title"] = "Ticket System";
}
@section Styles{
   <link rel="stylesheet" href="~/css/home/homeindex.css" />
}

<div class="flex-container">
    <h1 class="flex-container__header">Ticket System</h1>
    <div>
        <button class="flex-container__btn flex-container__btn-regsiter"><a asp-controller="Account" asp-action="Register">Register</a></button>
        <button class="flex-container__btn flex-container__btn-login"><a asp-controller="Account" asp-action="Login">Log In</a></button>
    </div>
</div>



